<!-- Footer -->
footer
  div.container
    div.row
      div.widgets

        div.col-md-4
          div.fwidget
            div.col-l
              h6 Downloads
              ul
                li
                  a(href="#") Condiumentum
                li
                  a(href="#") Etiam at
                li
                  a(href="#") Fusce vel
                li
                  a(href="#") Vivamus
                li
                  a(href="#") Pellentesque

            div.col-r
              h6 Support
              ul
                li
                  a(href="#") Condiumentum
                li
                  a(href="#") Etiam at
                li
                  a(href="#") Fusce vel
                li
                  a(href="#") Vivamus
                li
                  a(href="#") Pellentesque
             
        div.col-md-4
          div.fwidget     
            h6 Categories
            ul
              li
                a(href="#") Condiumentum - Condentium gavida
              li
                a(href="#") Etiam at - at Etiam vel
              li
                a(href="#") Fusce vel - vel Condiumentum elit
              li
                a(href="#") Vivamus - etia at 
              li
                a(href="#") Pellentesque - Fusce Vivamus

        div.col-md-4
          div.fwidget
            h6 Recent Posts
            ul
              li
                a(href="#") Condiumentum, Adfd Condentium gavida
              li
                a(href="#") Etiam at, woot sauce at Etiam vel
              li
                a(href="#") Fusce vel, pickle jar vel Condiumentum elit
              li
                a(href="#") Vivamus, booya etia at 
              li
                a(href="#") Pellentesque, yee haw Fusce Vivamus


    div.row
      div.col-md-12
        div.copy
          h6 Metro
            span.color Mania
          p Copyright &copy;
            a(href="/") Beam Lending
            | -
            a(href="/") Home  
            | -
            a(href="/") About Us
            | -
            a(href="/") FAQ
            | -
            a(href="/") Contact Us   
    div.clearfix                   
<!-- /Footer -->