<!-- Footer -->
footer
  div.container
    div.row
      div.col-md-12
        div.copy
          p(style="display:block; margin: 2px auto; width: 35%; text-align:center;") Copyright &copy; 2013 Beam Lending Corp. NMLS #1104582
    div.clearfix                   
<!-- /Footer -->