extends layout

block content
  <!-- Slider begins-->
  div.full-slider
    div.container
      div.row
        div.col-md-12
          div.flexslider
            ul.slides

              li
                div.flex-caption
                  div.col-l
                    h2 What do Started Today
                    h6 Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                  div.col-r
                    h5 Nulla Vitae rhoncus
                    p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                    div.button
                      a(href="/")
                        i.icon-circle-arrow-down
                        | Download Our Software Today

              li
                div.flex-caption.flex-center
                  h2 Don't Miss This Theme
                  p Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum.
                  div.button
                      a(href="/")
                        i.icon-circle-arrow-down
                        | Download

              li
                div.flex-caption
                  div.col-l
                    h2 Get Started Today
                    h6 Hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                  div.col-r
                    h5 Nulla Vitae rhoncus
                    p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                    div.button
                      a(href="/")
                        i.icon-circle-arrow-down
                        | Download Our Software Today
    <!-- Slider Ends-->

  div.content
    div.container

      <!-- Hero -->
      div.row.center
        div.col-md-12
        div.bor
        h2 Welcome to Beam Lending
        p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit.
        div.bor
        hr
      <!-- /Hero -->

      div.border

      <!-- Feautres -->
      div.features-four
        h3 Features
        p Sed rhoncus erat hendrerit. Vivamus vel ultricies elit.
        br
        div.col-md-4
          div.f-block.b-red
            a(href="/")
              i.icon-briefcase
            a(href="/")
              h4 Vivamus vel ultricies eultrlit
              p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.

        div.col-md-4
          div.f-block.b-purple
            a(href="/")
              i.icon-music
            a(href="/")
              h4 Morbi Acfelis Ecmauris
              p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.

        div.col-md-4
          div.f-block.b-lblue
            a(href="/")
              i.icon-camera
            a(href="/")
              h4 Suspendisse Potenti Spahe
              p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.

      <!-- /Features -->


  <!-- Social -->
  div.social-links
    div.container
      div.row
        div.col-md-12
          <p class="big"><span>Follow Us On</span> <a href="#"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <a href="#"><i class="icon-google-plus"></i>Google Plus</a> <a href="#"><i class="icon-linkedin"></i>LinkedIn</a></p>
  <!-- /Social -->