extends layout

block content
  <!-- Slider begins-->
  div.full-slider
    div.container
      div.row
        div.col-md-12
          div.flexslider
            ul.slides

              li
                div.flex-caption
                  div.col-l
                    h2 First Time Home Buyers
                    h6 Essential Tips for First-Time Homebuyers.
                  div.col-r
                    h5 Nulla Vitae rhoncus
                    p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                    div.button
                      a(href="/")
                        i.icon-circle-arrow-down
                        | Learn More

              li
                div.flex-caption
                  div.col-l
                    h2 Lower Your Monthly Payments Today
                    h6 A lower interest rate means that you keep more of your own money and send less to the bank.
                  div.col-r
                    h5 Nulla Vitae rhoncus
                    p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                    div.button
                      a(href="/")
                        i.icon-circle-arrow-down
                        | Learn More

              li
                div.flex-caption
                  div.col-l
                    h2 FHA Back To Work Program
                    h6 Buying a house after losing a substantial amount of your income might seem impossible, but there’s one loan that can help.
                  div.col-r
                    h5 Nulla Vitae rhoncus
                    p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Aenean sodales augue ac lacus hendrerit sed rhoncus erat hendrerit. Vivamus vel ultricies elit. Nulla vitae cursus leo.
                    div.button
                      a(href="/")
                        i.icon-circle-arrow-down
                        | Learn More
    <!-- Slider Ends-->

  div.content
    div.container

      <!-- Hero -->
      div.row.center
        div.col-md-12
        div.bor
        h2 Beam Lending Is Your Home Pricing Leader.
        p Give Beam Lending the chance to help you reach your goal of home ownership with some of the lowest rates and best service in the financial industry.
        div.bor
        hr
      <!-- /Hero -->

      div.border

      <!-- Feautres -->
      div.features-four
        h3 Features
        p Sed rhoncus erat hendrerit. Vivamus vel ultricies elit.
        br
        div.col-md-4
          div.f-block.b-red
            a(href="/")
              i.icon-briefcase
            a(href="/")
              h4 Vivamus vel ultricies eultrlit
              p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.

        div.col-md-4
          div.f-block.b-purple
            a(href="/")
              i.icon-music
            a(href="/")
              h4 Morbi Acfelis Ecmauris
              p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.

        div.col-md-4
          div.f-block.b-lblue
            a(href="/")
              i.icon-camera
            a(href="/")
              h4 Suspendisse Potenti Spahe
              p Suspendisse potenti. Morbi ac felis nec mauris imperdiet fermentum. Vivamus vel ultricies elit.

      <!-- /Features -->


  <!-- Social -->
  div.social-links
    div.container
      div.row
        div.col-md-12
          <p class="big"><span>Follow Us On</span> <a href="https://www.facebook.com/beamlending"><i class="icon-facebook"></i>Facebook</a> <a href="https://twitter.com/beamlending"><i class="icon-twitter"></i>Twitter</a> <a href="https://plus.google.com/+Beamlending"><i class="icon-google-plus"></i>Google Plus</a> 
  <!-- /Social -->
