extends ../layout

block content
  div.content
    div.container
      div.row
        div.col-md-12
          div#lenderio-container

block pageSpecificJS
  script.
    (function() {
      var options = {
        env: 'dev',
        cid: '502e6d8e-a189-4e33-b2e5-acdfa897a932'
      };
      /*** DO NOT MODIFY BELOW THIS LINE ***/
      var p=(("https:" == document.location.protocol) ? "https:" : "http:");var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=p+"localhost:3011/js/api/lenderio.1.0.0.min.js";window.lio={options:options};var t=document.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);
    })();