extends ../layout

block content
  div.content
    div.container
      div.row
        div.col-md-12
          div#lenderio-container

block pageSpecificJS
  script
    (function() {
      var options = {};
      /*** DO NOT MODIFY BELOW THIS LINE ***/
      var p=(("https:" == document.location.protocol) ? "https://" : "http://");var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=p+"//www.lender.io/js/api/lenderio.1.0.0.min.js";window.lio={options:options};var t=document.getElementsByTagName('script')[0];t.parentNode.insertBefore(s,t);
    })();